<% /* Default layout for email templates */ %>
<div style="width: 100%; background-color: #efefef; font-family: 'Helvetica Neue', 'Helvetica', sans-serif; box-sizing: border-box; padding-bottom: 25px; padding-top: 25px;" >
  <div style="width: 90%; max-width: 800px; margin: 0px auto;">
    <%- body %>
  </div>
</div>
